body {
  margin: auto;
  width: 1080px;
  height: auto;
  background-color: #555555;
  border-top: 7px solid black;
  border-right: 7px solid black;
  border-left: 7px solid black;
}

.Header {
  height: 90px;
  background-color: maroon;
} .Header h1 {
  text-align: center;
  margin: 0px;
  padding-top: 7px;
  width: auto;
  color: white;
  font-size: 60px;
} .Header h1 a {
  text-decoration: none;
  color: inherit;
}

.PageNav {
  background-color: maroon;
} .PageNav ul {
  border-bottom: 5px solid black;
  border-top: 2px solid black;
  padding: 0px;
  margin: 0px;
} .PageNav ul li {
  border-right: 2px solid black;
  font-size: 15pt;
  display: inline-block;
  padding: 10px;
} .PageNav ul li:hover {
  background-color: black;
} .PageNav a {
  text-decoration: none;
  color: white;
}

.Content {
  height: auto;
  padding-top: 10px;
  padding-bottom: 1px;  /*Must be nonzero to avoid gray bar*/
  background-color: white;
}

.Content h1 {
  margin: auto;
  text-align: center;
  padding: 100px;
}

.Content h3 {
  padding-left: 0px 100px 30px;
  margin-bottom: 0px;

}

.Doc-List {
  padding: 0px 100px;
  list-style-type: none;
}

.Doc-List a {
  text-decoration: underline;
  color: blue;

}

/*
------------------------------------------------------------------------------------------------------------------------------------
*/

.Footer {
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: maroon;
  border-top: 4px solid black;
  border-bottom: 7px solid black;
}
